<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Grocery</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <app-cart-summary></app-cart-summary>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <div class="dropdown" *ngIf="isAdmin() || isModerator() || isEditor()">
        <button class="btn btn-primary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown"
          aria-expanded="false" style="margin-right: 1rem;">
          Varlıkları Listele
        </button>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" type="button" routerLink="employee">Çalışanlar</button>
          </li>
          <li><button class="dropdown-item" type="button" routerLink="corporatecustomer">Tüzel
              Müşteriler</button></li>
          <li><button class="dropdown-item" type="button" routerLink="individualcustomer">Bireysel
              Müşteriler</button></li>
          <li><button class="dropdown-item" type="button" routerLink="payment"
              *ngIf="isAdmin() || isModerator()">Ödemeler</button></li>
          <li><button class="dropdown-item" type="button" routerLink="producer">Üreticiler</button>
          </li>
          <li><button class="dropdown-item" type="button" routerLink="supplier">Tedarikçiler</button>
          </li>
          <li><button class="dropdown-item" type="button" routerLink="product">Ürünler</button></li>
          <li><button class="dropdown-item" type="button" routerLink="user" *ngIf="isAdmin()">
              Kullanıcılar</button></li>
        </ul>
      </div>
      <div class="dropdown" *ngIf="isAdmin() || isModerator()">
        <button class="btn btn-primary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown"
          aria-expanded="false" style="margin-right: 1rem;">
          Ekleme Menüsü
        </button>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" type="button" routerLink="product/add">Ürün ekle</button>
          </li>
          <li><button class="dropdown-item" type="button" routerLink="category/add">Kategori
              ekle</button></li>
          <li><button class="dropdown-item" type="button" routerLink="employee/add" *ngIf="isAdmin()">Çalışan
              ekle</button></li>
          <li><button class="dropdown-item" type="button" routerLink="individualcustomer/add">Bireysel müşteri
              ekle</button></li>
          <li><button class="dropdown-item" type="button" routerLink="corporatecustomer/add">Tüzel
              müşteri ekle</button>
          </li>
          <li><button class="dropdown-item" type="button" routerLink="payment/add">Kredi kartı
              ekle</button></li>
          <li><button class="dropdown-item" type="button" routerLink="producer/add">Üretici
              ekle</button></li>
          <li><button class="dropdown-item" type="button" routerLink="supplier/add">Tedarikçi
              ekle</button></li>
        </ul>
      </div>
      <div>
        <button type="button" class="btn btn-primary btn-sm" routerLink="/register" *ngIf="haveToken()==false"
          (click)="activateSpinner()" style="margin-right: 1rem;">Kayıt ol</button>
        <button type="button" class="btn btn-primary btn-sm" routerLink="/login" *ngIf="haveToken()==false"
          (click)="activateSpinner()" style="margin-right: 1rem;">Giriş yap</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="logout()" *ngIf="haveToken()==true" routerLink=""
          style="margin-right: 1rem;">Çıkış yap</button>
      </div>
    </div>
  </div>
</nav>