<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Grocery</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <app-cart-summary></app-cart-summary>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Varlıkları Listele
        </button>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" type="button" routerLink="employee">Çalışanlar</button>
          </li>
          <li><button class="dropdown-item" type="button" routerLink="corporatecustomer">Tüzel
              Müşteriler</button></li>
          <li><button class="dropdown-item" type="button" routerLink="individualcustomer">Bireysel
              Müşteriler</button></li>
          <li><button class="dropdown-item" type="button" routerLink="payment">Ödemeler</button></li>
          <li><button class="dropdown-item" type="button" routerLink="producer">Üreticiler</button>
          </li>
          <li><button class="dropdown-item" type="button" routerLink="supplier">Tedarikçiler</button>
          </li>
          <li><button class="dropdown-item" type="button" routerLink="product">Ürünler</button></li>
          <li><button class="dropdown-item" type="button" routerLink="user" *ngIf="hasAdmin()">Kullanıcılar</button></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Ekleme Menüsü
        </button>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" type="button" routerLink="product/add">Ürün ekle</button>
          </li>
          <li><button class="dropdown-item" type="button" routerLink="category/add">Kategori
              ekle</button></li>
          <li><button class="dropdown-item" type="button" routerLink="employee/add">Çalışan
              ekle</button></li>
          <li><button class="dropdown-item" type="button" routerLink="individualcustomer/add">Bireysel müşteri
              ekle</button></li>
          <li><button class="dropdown-item" type="button" routerLink="corporatecustomer/add">Tüzel
              müşteri ekle</button>
          </li>
          <li><button class="dropdown-item" type="button" routerLink="payment/add">Kredi kartı
              ekle</button></li>
          <li><button class="dropdown-item" type="button" routerLink="producer/add">Üretici
              ekle</button></li>
          <li><button class="dropdown-item" type="button" routerLink="supplier/add">Tedarikçi
              ekle</button></li>
        </ul>
      </div>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <button type="button" class="btn btn-primary" routerLink="/register" *ngIf="haveToken()==false">Register</button>
      <button type="button" class="btn btn-primary" routerLink="/login" *ngIf="haveToken()==false">Login</button>
      <button type="button" class="btn btn-danger" (click)="logout()" *ngIf="haveToken()==true"
        routerLink="">Logout</button>
    </div>
  </div>
</nav>