<div class="row justify-content-center">
  <div class="col-md-4">
    <label for="filterText" class="form-label"
      style="display: flex; justify-content: center; color: purple;font-size: large; font-weight: 500;">Tedarikçi
      Ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
      placeholder="Tedarikçi adı giriniz...">
    <div *ngIf="filterText.length >= 2" class="alert alert-danger">
      {{filterText}} aranıyor...
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Tedarikçi Adı</th>
      <th>Adres</th>
      <th>Telefon numarası</th>
      <th>Email</th>
    </tr>
  </thead>
  <tr *ngFor="let supplier of suppliers|filterPipe:filterText">
    <td>{{supplier.name}}</td>
    <td>{{supplier.address}}</td>
    <td>{{supplier.phoneNumber}}</td>
    <td>{{supplier.email}}</td>
    <td>
      <button style="--bs-btn-padding-y: .18rem; --bs-btn-padding-x: .08rem; --bs-btn-font-size: .7rem;"
        class="btn btn-secondary btn-sm" routerLink="/supplier/update/{{supplier.id}}"
        *ngIf="isAdmin() || isModerator()">Güncelle</button>
      <button style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .7rem;"
        class="btn btn-danger btn-sm" (click)="deleteSupplier(supplier.id)"
        *ngIf="isAdmin() || isModerator()">Sil</button>
    </td>
  </tr>
</table>

<div class="row justify-content-center" *ngIf="enablePageButton">
  <div class="col-md-2">
    <button (click)="getSuppliersByPaginationAndSortingNameAsc(1)" class="btn btn-secondary btn-sm"
      routerLink="/supplier/page/1">İlk</button>
    <span *ngFor="let i of sortedSuppliers |paging:pageSize; let index = index">
      <span>
        <button class="btn btn-secondary btn-sm" type="button"
          (click)="getSuppliersByPaginationAndSortingNameAsc(index+1)" routerLink="/supplier/page/{{index+1}}"
          routerLinkActive="active">
          {{index+1}}
        </button>
      </span>
    </span>
    <button (click)="getSuppliersByPaginationAndSortingNameAsc(sortedSuppliers.length/pageSize)"
      class="btn btn-secondary btn-sm" routerLink="/supplier/page/{{sortedSuppliers |mathRound:pageSize}}">Son</button>
  </div>
</div>