<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Sisteme Kayıt ol!</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="registerForm">
                    <div class="mb-3">
                        <label for="username">Kullanıcı adınız</label>
                        <div class="form-group">
                            <input type="text" id="username" formControlName="username" class="form-control"
                                placeholder="Kullanıcı adınız" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email">Email adresiniz</label>
                        <div class="form-group">
                            <input type="email" id="email" formControlName="email" class="form-control"
                                placeholder="Email adresiniz" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password">Şifreniz</label>
                        <div class="form-group">
                            <input type="password" id="password" formControlName="password" class="form-control"
                                placeholder="Şifreniz bir büyük harf, bir rakam, bir sayı ve bir özel karakter içermelidir" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="register()">Kayıt ol</button>
            </div>
            <div class="social-login">
                <h5 class="social-login-title">Google veya Facebook ile giriş</h5>
                <div class="mb-3">
                    <div class="social-login">
                        <img src="../../../../assets/facebook.png" alt="" class="facebook" (click)="facebookLogin()">
                        <asl-google-signin-button size="large" style="position: absolute; margin-left: 10px;"></asl-google-signin-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>