.social-login-title {
    text-align: center;
}

.social-login {
    margin-top: 25px;
    margin-bottom: 15px;
  }

.facebook {
    margin-top: 1px;
    height: 37px;
    width: 37px;
    cursor: pointer;
  }