<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
  <div class="container">
    <div class="row row-30">
      <div class="col-md-4 col-xl-5">
        <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light"
              src="http://res.cloudinary.com/dsfebmcdy/image/upload/v1675564068/brpvbafwcaensd5avbrz.png" alt=""
              width="111" height="37"
              srcset="http://res.cloudinary.com/dsfebmcdy/image/upload/v1675564068/brpvbafwcaensd5avbrz.png"></a>
          <p>Alışverişiniz sadece bir tık uzağınızda. Sizlerin en yakın ve en güvenli marketi olmayı hedefliyoruz.</p>
          <!-- Rights-->
          <p class="rights"><span>©  </span><span
              class="copyright-year">2023</span><span> </span><span>Waves</span><span>. </span><span>All Rights
              Reserved.</span></p>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Bize ulaşın</h5>
        <dl class="contact-list">
          <dt>Address:</dt>
          <dd>Xxxx Mahallesi Yyy Sokak Zzz <br> İstanbul/Türkiye</dd>
        </dl>
        <dl class="contact-list">
          <dt>email:</dt>
          <dd><a href="mailto:#">omer@grocery.com</a></dd>
        </dl>
        <dl class="contact-list">
          <dt>telefon numaramız:</dt>
          <dd><a href="tel:#">+90 212 212 12 12</a> <span> ya da </span> <a href="tel:#">+90 555 555 55 55</a>
          </dd>
        </dl>
      </div>
      <div class="col-md-4 col-xl-3">
        <h5>İlgili linkler</h5>
        <ul class="nav-list">
          <li><a href="#">Hakkımızda</a></li>
          <li><a href="#">Projelerimiz</a></li>
          <li><a href="#">Partnerlerimiz</a></li>
          <li><a href="#">Hizmetlerimiz</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row no-gutters social-container">
    <div class="col"><a class="social-inner" href="#"><span
          class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
    <div class="col"><a class="social-inner" href="#"><span
          class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
    <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a>
    </div>
    <div class="col"><a class="social-inner" href="#"><span
          class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
  </div>
</footer>