<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Kullanıcı Güncelle</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="userUpdateForm">
                    <div class="mb-3">
                        <label for="username">Kullanıcı adı</label>
                        <div class="form-group">
                            <input type="text" id="username" formControlName="username" class="form-control"
                                placeholder="Kullanıcı Adı" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email">Email adresiniz</label>
                        <div class="form-group">
                            <input type="email" id="email" formControlName="email" class="form-control"
                                placeholder="Email adresiniz email formatında olmalıdır" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="role">Yetkiler</label>
                        <div class="form-group">
                            <input type="text" id="role" formControlName="role" class="form-control"
                                placeholder="Yetkiler" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password">Şifreniz</label>
                        <div class="form-group">
                            <input type="password" id="password" formControlName="password" class="form-control"
                                placeholder="Şifreniz bir büyük harf, bir rakam ve bir özel karakter içermelidir" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="update()">Güncelle</button>
            </div>
        </div>
    </div>
</div>
