<div class="mb-3">
    <label for="filterText" class="form-label">Search corporate customer</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
        placeholder="Enter corporate customer">
</div>
<div *ngIf="filterText.length >= 2" class="alert alert-success">
    {{filterText}} searching...
</div>

<table class="table">
    <thead>
        <tr>
            <th>Corporate customer id</th>
            <th>User id</th>
            <th>Resim</th>
            <th>Adres</th>
            <th>Telefon Numarası</th>
            <th>Şirket adı</th>
            <th>Vergi No.</th>
        </tr>
    </thead>
    <tr *ngFor="let corporateCustomer of corporateCustomers">
        <td>{{corporateCustomer.id}}</td>
        <td>{{corporateCustomer.userId}}</td>
        <td>
            <a class="image-link" [href]="corporateCustomer.imageUrl" target="_blank">
                <img class="table-images" src="{{corporateCustomer.imageUrl}}" alt="">
            </a>
        </td>
        <td>{{corporateCustomer.address}}</td>
        <td>{{corporateCustomer.phoneNumber}}</td>
        <td>{{corporateCustomer.companyName}}</td>
        <td>{{corporateCustomer.taxNumber}}</td>
        <td>
            <button style="--bs-btn-padding-y: .18rem; --bs-btn-padding-x: .08rem; --bs-btn-font-size: .7rem;"
                class="btn btn-secondary btn-sm" routerLink="/corporatecustomer/update/{{corporateCustomer.id}}"
                *ngIf="isAdmin() || isModerator()">Güncelle</button>
            <button style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .7rem;"
                class="btn btn-danger btn-sm" (click)="deleteCorporateCustomer(corporateCustomer.id)"
                *ngIf="isAdmin() || isModerator()">Sil</button>
        </td>
    </tr>
</table>

<div *ngIf="enablePageButton">
    <button (click)="getCorporateCustomersByPaginationAndSortingNameAsc(1)" class="btn btn-danger btn-sm"
     ><<</button>
        <span *ngFor="let i of sortedCorporateCustomers |paging:pageSize; let index = index">
          <span>
            <button class="btn btn-danger btn-sm" type="button" (click)="getCorporateCustomersByPaginationAndSortingNameAsc(index+1)"
              routerLink="/corporatecustomer/page/{{index+1}}">
              {{index+1}}
            </button>
          </span>
        </span>
  </div>