<table class="table">
    <thead>
        <tr>
            <th>Corporate customer id</th>
            <th>User id</th>
            <th>Image id</th>
            <th>Adres</th>
            <th>Telefon Numarası</th>
            <th>Şirket adı</th>
            <th>Vergi No.</th>
        </tr>
    </thead>
    <tr *ngFor="let corporateCustomer of corporateCustomers">
        <td>{{corporateCustomer.id}}</td>
        <td>{{corporateCustomer.userId}}</td>
        <td>{{corporateCustomer.imageId}}</td>
        <td>{{corporateCustomer.address}}</td>
        <td>{{corporateCustomer.phoneNumber}}</td>
        <td>{{corporateCustomer.companyName}}</td>
        <td>{{corporateCustomer.taxNumber}}</td>
        <td>
            <span>
                <button style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .6rem;"
                    class="btn btn-danger btn-sm" (click)="deleteCorporateCustomer(corporateCustomer.id)">Sil</button>
            </span>
        </td>
    </tr>
</table>