<div class="mb-3">
  <label for="filterText" class="form-label">Search user</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Enter user data">
</div>
<div *ngIf="filterText.length >= 2" class="alert alert-success">
  {{filterText}} searching...
</div>

<table class="table">
  <thead>
    <tr>
      <th>User Id</th>
      <th>Username</th>
      <th>Password</th>
      <th>Email</th>
      <th>Roles</th>
      <th>Created Date</th>
      <th>Updated Date</th>
      <th>Active</th>
    </tr>
  </thead>
  <tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.username}}</td>
    <td>{{user.password}}</td>
    <td>{{user.email}}</td>
    <td>{{user.roles}}</td>
    <td>{{user.createdDate}}</td>
    <td>{{user.updatedDate}}</td>
    <td>{{user.active}}</td>
    <td>
      <button style="--bs-btn-padding-y: .18rem; --bs-btn-padding-x: .08rem; --bs-btn-font-size: .7rem;"
        class="btn btn-secondary btn-sm" routerLink="/user/update/{{user.id}}" *ngIf="isAdmin()">Güncelle</button>
      <button style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .7rem;"
        class="btn btn-danger btn-sm" (click)="deleteUser(user.id)" *ngIf="isAdmin()">Sil</button>
    </td>
  </tr>
</table>

<div *ngIf="enablePageButton">
  <button (click)="getUsersByPaginationAndSortingNameAsc(1)" class="btn btn-danger btn-sm"
   ><<</button>
      <span *ngFor="let i of sortedUsers |paging:pageSize; let index = index">
        <span>
          <button class="btn btn-danger btn-sm" type="button" (click)="getUsersByPaginationAndSortingNameAsc(index+1)"
            routerLink="/user/page/{{index+1}}">
            {{index+1}}
          </button>
        </span>
      </span>
</div>