<table class="table">
    <thead>
        <tr>
            <th>Individual customer id</th>
            <th>User id</th>
            <th>Image id</th>
            <th>Adres</th>
            <th>Telefon numarası</th>
            <th>İsim</th>
            <th>Soyisim</th>
            <th>Cinsiyet</th>
            <th>Kimlik No.</th>
        </tr>
    </thead>
    <tr *ngFor="let individualCustomer of individualCustomers">
        <td>{{individualCustomer.id}}</td>
        <td>{{individualCustomer.userId}}</td>
        <td>{{individualCustomer.imageId}}</td>
        <td>{{individualCustomer.address}}</td>
        <td>{{individualCustomer.phoneNumber}}</td>
        <td>{{individualCustomer.firstName}}</td>
        <td>{{individualCustomer.lastName}}</td>
        <td>{{individualCustomer.gender}}</td>
        <td>{{individualCustomer.nationalIdentity}}</td>
    </tr>
</table>