<div class="row justify-content-center">
    <div class="col-md-4">
        <label for="filterText" class="form-label"
            style="display: flex; justify-content: center; color: purple;font-size: large; font-weight: 500;">Bireysel
            müşteri Ara</label>
        <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
            placeholder="Bireysel müşteri adı giriniz...">
        <div *ngIf="filterText.length >= 2" class="alert alert-danger">
            {{filterText}} aranıyor...
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Individual customer id</th>
            <th>User id</th>
            <th>Resim</th>
            <th>Adres</th>
            <th>Telefon numarası</th>
            <th>İsim</th>
            <th>Soyisim</th>
            <th>Cinsiyet</th>
            <th>Kimlik No.</th>
        </tr>
    </thead>
    <tr *ngFor="let individualCustomer of individualCustomers|firstNameFilter:filterText">
        <td>{{individualCustomer.id}}</td>
        <td>{{individualCustomer.userId}}</td>
        <td>
            <a class="image-link" [href]="individualCustomer.imageUrl" target="_blank">
                <img class="table-images" src="{{individualCustomer.imageUrl}}" alt="">
            </a>
        </td>
        <td>{{individualCustomer.address}}</td>
        <td>{{individualCustomer.phoneNumber}}</td>
        <td>{{individualCustomer.firstName}}</td>
        <td>{{individualCustomer.lastName}}</td>
        <td>{{individualCustomer.gender}}</td>
        <td>{{individualCustomer.nationalIdentity}}</td>
        <td>
            <button style="--bs-btn-padding-y: .18rem; --bs-btn-padding-x: .08rem; --bs-btn-font-size: .7rem;"
                class="btn btn-secondary btn-sm" routerLink="/individualcustomer/update/{{individualCustomer.id}}"
                *ngIf="isAdmin() || isModerator()">Güncelle</button>
            <button style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .7rem;"
                class="btn btn-danger btn-sm" (click)="deleteIndividualCustomer(individualCustomer.id)"
                *ngIf="isAdmin() || isModerator()">Sil</button>
        </td>
    </tr>
</table>

<div class="row justify-content-center" *ngIf="enablePageButton">
    <div class="col-md-2">
        <button (click)="getIndividualCustomersByPaginationAndSortingNameAsc(1)" class="btn btn-secondary btn-sm"
            routerLink="/individualcustomer/page/1">İlk</button>
        <span *ngFor="let i of sortedIndividualCustomers |paging:pageSize; let index = index">
            <span>
                <button class="btn btn-secondary btn-sm" type="button"
                    (click)="getIndividualCustomersByPaginationAndSortingNameAsc(index+1)"
                    routerLink="/individualcustomer/page/{{index+1}}" routerLinkActive="active">
                    {{index+1}}
                </button>
            </span>
        </span>
        <button (click)="getIndividualCustomersByPaginationAndSortingNameAsc(sortedIndividualCustomers.length/pageSize)"
            class="btn btn-secondary btn-sm"
            routerLink="/individualcustomer/page/{{sortedIndividualCustomers |mathRound:pageSize}}">Son</button>
    </div>
</div>