<ul class="list-group">
  <li routerLink="/product" (click)="setAllCategory()" [class]="getAllCategoryClass()">All products</li>
  <li (click)="setCurrentCategory(category)" routerLink="/product/category/{{category.id}}"
    [class]="getCurrentCategoryClass(category)" *ngFor="let category of categories">
    {{category.name |titlecase}}
    <button style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .1rem; --bs-btn-font-size: .6rem;"
     type="button" class="btn btn-warning btn-sm" routerLink="category/update/{{category.id}}">Güncelle</button>
     <button style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .6rem;"
     type="button" class="btn btn-danger btn-sm" (click)="deleteCategory(category.id)">Sil</button>
    </li>
</ul>