<div *ngIf="dataLoaded==false" class="spinner-border text-warning" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Search product</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="enter product name">
</div>
<div *ngIf="filterText.length >= 2" class="alert alert-success">
  {{filterText}} searching...
</div>

<table *ngIf="dataLoaded==true" class="table">
  <thead>
    <tr>
      <th>Product id</th>
      <th>Product name</th>
      <th>Price</th>
      <th>Price with KDV</th>
      <th>Description</th>
      <th>Production date</th>
      <th>Expiration date</th>
      <th>Stock</th>
      <th>Category</th>
      <th>Supplier</th>
      <th>Producer</th>
      <th>Images</th>
      <th></th>
    </tr>
  </thead>
  <tr *ngFor="let product of products |filterPipe:filterText">
    <td>{{product.id}}</td>
    <td>{{product.name |uppercase}}</td>
    <td>{{product.price |currency}}</td>
    <td>{{product.price |vatAdded:18 |currency}}</td>
    <td>{{product.description}}</td>
    <td>{{product.productionDate}}</td>
    <td>{{product.expirationDate}}</td>
    <td>{{product.stock}}</td>
    <td>{{product.categoryId}}</td>
    <td>{{product.supplierId}}</td>
    <td>{{product.producerId}}</td>
    <td>{{product.imageIds}}</td>
    <td><button (click)="addToCart(product)" class="btn btn-success">Sepete ekle</button></td>
  </tr>
</table>
