.table{
    background-color: #E3753B;
    color: #178600;
    border: none;
    overflow: auto;
}

th{
    font-size: .8rem;
    padding-left: .6rem;
}

td{
    padding-left: .6rem;
}

.alert{
    border: none;
    opacity: 0.75;
    background-color: #178600;
}

.image-dimention{
    padding-right: 0;
}

.table-images{
    max-width: 40px;
    max-height: 40px;
}

.btn{
    margin-bottom: .8rem;
}

.card{
    float: left;
    width: 18rem;
    margin: 5vh;
}

.card-text{
    border-bottom: solid 2px;
}