<div class="mb-4">
  <label for="filterText" class="form-label">Search product</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Enter product name">
</div>
<div *ngIf="filterText.length >= 2" class="alert alert-success">
  {{filterText}} searching...
</div>

<table class="table">
  <thead>
    <tr>
      <th>Ürün adı</th>
      <th>KDV'li fiyatı</th>
      <th>Açıklaması</th>
      <th>Üretim tarihi</th>
      <th>Son kullanma tarihi</th>
      <th>Stok</th>
      <th>Kategori</th>
      <th>Tedarikçi</th>
      <th>Üretici</th>
      <th>Resimler</th>
      <th></th>
    </tr>
  </thead>
  <tr *ngFor="let product of products |filterPipe:filterText">
    <td>{{product.name |titlecase}}</td>
    <td>{{product.price |vatAdded:18 |currency:'TRY':'symbol-narrow':'1.2-2'}}</td>
    <td>{{product.description}}</td>
    <td>{{product.productionDate |date:"dd/MM/yyyy"}}</td>
    <td>{{product.expirationDate |date:"dd/MM/yyyy"}}</td>
    <td>{{product.stock}}</td>
    <td>{{product.categoryName}}</td>
    <td>{{product.supplierName}}</td>
    <td>{{product.producerName}}</td>
    <td class="image-dimention" *ngFor="let url of product.urls">
      <a class="image-link" [href]="url" target="_blank">
        <img class="table-images" src="{{url}}" alt="">
      </a>
    </td>
    <td><button (click)="addToCart(product)" class="btn btn-success btn-sm">Sepete ekle!</button></td>
    <td>
      <button class="btn btn-secondary btn-sm" routerLink="/product/update/{{product.id}}"
        *ngIf="isAdmin() || isModerator() || isEditor()">Güncelle</button>
      <button class="btn btn-danger btn-sm" (click)="deleteProduct(product.id)" *ngIf="isAdmin() || isModerator()">
        Sil</button>
    </td>
  </tr>
</table>
<div *ngIf="enablePageButton">
  <button (click)="getProductsByPaginationAndSortingNameAsc(1)" class="btn btn-danger btn-sm"
   ><<</button>
      <span *ngFor="let i of sortedProducts |paging:pageSize; let index = index">
        <span>
          <button class="btn btn-danger btn-sm" type="button" (click)="getProductsByPaginationAndSortingNameAsc(index+1)"
            routerLink="/product/page/{{index+1}}">
            {{index+1}}
          </button>
        </span>
      </span>
</div>