<table class="table">
  <thead>
    <tr>
      <th>Employee id</th>
      <th>User id</th>
      <th>Image id</th>
      <th>İsim</th>
      <th>Soyisim</th>
      <th>Cinsiyet</th>
      <th>Kimlik No.</th>
      <th>Uyruk</th>
      <th>Doğum tarihi</th>
      <th>Maaş</th>
    </tr>
  </thead>
  <tr *ngFor="let employee of employees">
    <td>{{employee.id}}</td>
    <td>{{employee.userId}}</td>
    <td>{{employee.imageId}}</td>
    <td>{{employee.firstName}}</td>
    <td>{{employee.lastName}}</td>
    <td>{{employee.gender}}</td>
    <td>{{employee.nationalIdentity}}</td>
    <td>{{employee.nationality}}</td>
    <td>{{employee.birthYear}}</td>
    <td>{{employee.salary}}</td>
    <td>
      <button style="--bs-btn-padding-y: .18rem; --bs-btn-padding-x: .08rem; --bs-btn-font-size: .7rem;"
        class="btn btn-warning btn-sm" routerLink="/employee/update/{{employee.id}}"
        *ngIf="isAdmin()">Güncelle</button>
      <button style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .7rem;"
        class="btn btn-danger btn-sm" (click)="deleteEmployee(employee.id)" *ngIf="isAdmin()">Sil</button>
    </td>
  </tr>
</table>