<table class="table">
  <thead>
    <tr>
      <th>Employee id</th>
      <th>User id</th>
      <th>Image id</th>
      <th>İsim</th>
      <th>Soyisim</th>
      <th>Cinsiyet</th>
      <th>Kimlik No.</th>
      <th>Uyruk</th>
      <th>Doğum tarihi</th>
      <th>Maaş</th>
    </tr>
  </thead>
  <tr *ngFor="let employee of employees">
    <td>{{employee.id}}</td>
    <td>{{employee.userId}}</td>
    <td>{{employee.imageId}}</td>
    <td>{{employee.firstName}}</td>
    <td>{{employee.lastName}}</td>
    <td>{{employee.gender}}</td>
    <td>{{employee.nationalIdentity}}</td>
    <td>{{employee.nationality}}</td>
    <td>{{employee.birthYear}}</td>
    <td>{{employee.salary}}</td>
    <td>
      <span>
          <button style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .6rem;"
              class="btn btn-danger btn-sm" (click)="deleteEmployee(employee.id)">Sil</button>
      </span>
  </td>
  </tr>
</table>