<table class="table">
  <thead>
    <tr>
      <th>Employee id</th>
      <th>User id</th>
      <th>Image id</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Gender</th>
      <th>National Identity</th>
      <th>Nationality</th>
      <th>Birth year</th>
      <th>Salary</th>
    </tr>
  </thead>
  <tr *ngFor="let employee of employees">
    <td>{{employee.id}}</td>
    <td>{{employee.userId}}</td>
    <td>{{employee.imageId}}</td>
    <td>{{employee.firstName}}</td>
    <td>{{employee.lastName}}</td>
    <td>{{employee.gender}}</td>
    <td>{{employee.nationalIdentity}}</td>
    <td>{{employee.nationality}}</td>
    <td>{{employee.birthYear}}</td>
    <td>{{employee.salary}}</td>
  </tr>
</table>