<body class="text-center">
    <main class="form-signin w-100 m-auto">
        <form [formGroup]="loginForm">
            <h1 class="h3 mb-3 fw-normal">Giriş yap</h1>
            <div class="form-floating">
                <input type="text" formControlName="username" class="form-control" id="floatingInput"
                    placeholder="username">
                <label for="floatingInput">Kullanıcı Adı</label>
            </div>
            <div class="form-floating">
                <input type="password" formControlName="password" class="form-control" id="floatingPassword"
                    placeholder="Password">
                <label for="floatingPassword">Şifre</label>
            </div>
            <div class="social-login">
                <img src="../../../../assets/facebook.png" alt="" class="facebook" (click)="facebookLogin()">
                <asl-google-signin-button size="large" style="position: absolute; margin-left: 10px;"></asl-google-signin-button>
            </div>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Beni hatırla
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" (click)="login()">Giriş yap</button>
            <a class="to-register" routerLink="/register">Hesabınız yok mu? Hemen kayıt ol!</a>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
        </form>
    </main>
</body>