<table class="table">
    <thead>
      <tr>
        <th>Producer id</th>
        <th>Üretici Adı</th>
      </tr>
    </thead>
    <tr *ngFor="let producer of producers">
      <td>{{producer.id}}</td>
      <td>{{producer.name}}</td>
      <td>
        <button style="--bs-btn-padding-y: .18rem; --bs-btn-padding-x: .08rem; --bs-btn-font-size: .7rem;" 
        class="btn btn-secondary btn-sm" routerLink="/producer/update/{{producer.id}}">Güncelle</button>
        <button style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .7rem;"
         class="btn btn-danger btn-sm" (click)="deleteProducer(producer.id)">Sil</button>
    </td>
    </tr>
  </table>
