<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Çalışan ekle</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="individualCustomerAddForm">
                    <div class="mb-3">
                        <label for="address">Adres</label>
                        <div class="form-group">
                            <input type="text" id="address" formControlName="address" class="form-control"
                                placeholder="Adres" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber">Telefon Numarası</label>
                        <div class="form-group">
                            <input type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control"
                                placeholder="Telefon Numarası" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="firstName">Adı</label>
                        <div class="form-group">
                            <input type="text" id="firstName" formControlName="firstName" class="form-control"
                                placeholder="Adı" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="lastName">Soyadı</label>
                        <div class="form-group">
                            <input type="text" id="lastName" formControlName="lastName" class="form-control"
                                placeholder="Soyadı" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="gender">Cinsiyeti</label>
                        <div class="form-group">
                            <input type="text" id="gender" formControlName="gender" class="form-control"
                                placeholder="Cinsiyeti" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="nationalIdentity">Kimlik No.</label>
                        <div class="form-group">
                            <input type="text" id="nationalIdentity" formControlName="nationalIdentity"
                                class="form-control" placeholder="Kimlik No." />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="userId">Username</label>
                        <div class="form-group">
                            <select id="userId" formControlName="userId" class="form-control">
                                <option value="">Seçiniz</option>
                                <option *ngFor="let user of users" [value]="user.id">{{ user.username }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="imageId">Image URL</label>
                        <div class="form-group">
                            <select id="imageId" formControlName="imageId" class="form-control">
                                <option value="">Seçiniz</option>
                                <option *ngFor="let image of images" [value]="image.id">{{ image.url }}
                                </option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
            </div>
        </div>
    </div>
</div>